<html></html>
    <body>
        <table style="width: 100%; max-width: 600px; margin: auto; font-family: Arial, sans-serif; border: 1px solid #ddd; border-radius:10px;">
            <tr>
                <td style="background-color: #181818; padding: 20px; text-align: center; border-radius:10px;">
                    <img src="#" class="bi" height="100px" width="100px">
                    <h1 style="color: white;">Thank you for creating an account!</h1>
                </td>
            </tr>
            <tr>
                <td style="padding: 20px;">
                    <p>Dear {{ first_name }},</p>
                    <p style="color: #555;">Thank you for creating an account. Here's what you can do next:</p>
                    <ul>
                        <li><a href="#">Thing 1</a></li>
                        <li><a href="#">Thing 2</a></li>
                        <li><a href="#">Thing 3</a></li>
                    </ul>
                    <p>Many thanks,<br><br><strong>Tom</strong></p>
                </td>
            </tr>
            <tr>
                <td style="background-color: #f7f7f7; padding: 20px; text-align: center; color: #888; font-size: 12px;">
                    <p>Please do not reply to this email, the inbox is not monitored.</p>
                    <p>&copy; 2024 Flask Azure Quickstart. All rights reserved.</p>
                </td>
            </tr>
        </table>
    </body>
</html>